*{
    background-color: rgb(255, 190, 152);
}
.container {
    
    display : grid;
    grid-template-columns: repeat(3,1fr);
    gap : 10px;
    margin:  50px auto;
    height: 300px;
    width: 300px;
    
}

.section {
   
   text-align: center;
   background-color: rgb(226, 226, 226);
   border-radius: 10px;
   display: flex;
   justify-content: center;
   color: red;
   align-items: center;
   font-size: 30px;
   height: 100px;
   width: 100px;
}

.button {
    margin : auto;
    height: 50px;
    width : 300px;
    display: flex;
    gap : 50px;
    justify-content: center;
    padding: 5px;
   
}

button {
    width: 150px;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f7c480;
    color: rgba(0, 0, 0, 0.709);
    border: solid black 1px;
    border-radius: 5px;
    font-size: 20px;

}

.msg-container {
    text-align: center;
    font-size: large;
}
#msg {
    font-size: 5vmin;
    color: rgb(79, 79, 79);
    border: 1px solid black;
    background-color: rgb(124, 255, 124) !important;
    /* stroke: ; */
    font-family :Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}
.hide {
    display: none;
}

#new-game-container {
    display: block;
    margin: auto;
    height: 50px;
    width: 250px;
    background-color: greenyellow;
}

.redBg{
    background-color: rgb(255, 105, 105);
}